:root {
  --clr-accent-500: hsl(210, 55%, 18%);
  --clr-accent-400: hsl(210, 76%, 25%);
  --clr-accent-300: #fc6736;
  --clr-accent-100: #f7f5f5;

  --clr-primary-400: #0b284b;

  --clr-neutral-900: hsl(232, 12%, 13%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 97%);

  --ff-primary: "Be Vietnam Pro", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 5.3rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;

  --size-close-icon-offset: 6em;
  --vertical-close-icon-offset: 5em;
}

@media (min-width: 47em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);

    --fs-nav: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
/* @media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */

/* general styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
}

p:not([class]) {
  max-width: 53ch;
}

.button {
  border: 0;
  text-decoration: none;
  border-radius: 100vmax;
  padding: 0.9em 1.5em;
  line-height: 1;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  transition: 0.2s ease-in-out;
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-accent-300);
}

/* nav bar */

.primary-header {
  top: 0;
  width: 100%;
  padding-top: var(--size-200);
  padding-bottom: var(--size-200);
  background-color: rgba(226, 226, 226); /* Adjust the transparency as needed */
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
  z-index: 1000; /* Ensure the navbar stays above other elements */
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  display: flex;
  gap: 1rem;
  place-items: center;
  aspect-ratio: 1;
  z-index: 4;
}
.toggle-text {
  color: var(--clr-primary-400); /* Set the initial color */
}

.primary-navigation[data-visible] + .nav-wrapper .toggle-text {
  color: white; /* Change the color to white when the navigation is visible */
}
.mobile-nav-toggle {
  display: flex;
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0.5em;
  width: 1.65em;
  aspect-ratio: 1;

  background-image: url("images/icon-hamburger.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mobile-nav-toggle-close {
  display: none;
}

.logo {
  width: 5em;
  height: 4em;
  display: flex;
  align-items: center;
  z-index: 4;
}

.nav-list {
  display: grid;
  width: 100vw;
  height: 100vh;
  place-content: center;
  gap: var(--size-400);
  text-align: center;
  font-weight: var(--fw-bold);
  font-size: 3rem;
  opacity: 1;
}
.nav-item {
  opacity: 1;
}
.nav-item:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid var(--clr-accent-300);
  top: 100%;
  transition: all 0.6s;
}

.nav-item:after {
  right: 100%;
  left: 0;
}
.nav-item:hover:after {
  right: 0;
}
.nav-list p {
  font-size: 1.5rem;
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-100);
}
.nav-list a {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

.nav-list a:hover,
.nav-list a:focus {
  text-decoration: none;
  color: var(--clr-accent-300);
}
.navigation-container {
  overflow: hidden !important;
}

.primary-navigation {
  visibility: hidden;
  transform: translateY(1000px); /* Use translateY instead of y for GSAP */
  position: fixed;
  padding: var(--size-600);
  inset: 0rem 0rem auto auto;
  width: 100vw;
  height: 100vh;
  margin-inline: auto;
  background: var(--clr-primary-400);
  /* Added transform property */
  z-index: 2;
}

.primary-navigation[data-visible] {
  visibility: visible;
}

.mobile-nav-toggle[aria-expanded="true"] {
  background-image: url("images/icon-close.svg");
  z-index: 4;
  color: whitesmoke;
}
.nav-toggle[aria-expanded="true"] {
  color: white;
}

body.menu-open {
  overflow: hidden;
}
/* hero section */

.bg-text {
  font-size: 16vw;

  font-weight: var(--fw-bold);
  margin-top: -3.5rem;
  display: grid;
  place-items: center;
  margin-bottom: -25rem;
  color: rgba(240, 240, 240, 0.664);
  pointer-events: none;
}

.hero-area-bg {
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(226, 226, 226) 100%);
}
.hero-image {
  display: grid;
  place-items: center;
  width: auto;
  height: auto;
}

.hero-image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  transition: all 0.5s ease-in-out;
}

.hero-text {
  display: grid;
  place-items: center;
  justify-self: center;

  margin-top: 17rem;
  transition: all 0.5s ease-in-out;
}

/* social list */
/* .hero-wrapper {
  margin-top: 160px;
} */
.custom-hr {
  width: 22rem;
  height: 0.2em;
  background-color: var(--clr-primary-400);
  transition: all 0.5s ease-in-out;
}
.social-icons {
  display: flex;
  align-items: center; /* Optional: Align items vertically in the center */
}
.social-icons ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons ul li {
  margin: 0 5px;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--clr-neutral-100);

  background: var(--clr-primary-400);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-600);
  transition: all ease 0.3s;
}

.social-icons ul li:hover {
  background: var(--clr-accent-300);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(252, 104, 54, 1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(252, 104, 54, 1);
  box-shadow: 0px 0px 10px 2px rgba(252, 104, 54, 1);
  cursor: pointer;
}

.social-icons a {
  color: var(--clr-neutral-100);
}
.hero-image img {
  margin-top: 9.375rem;
}

.image-area {
  background-image: url("svg/circle.svg");
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: center top;
  box-sizing: border-box;
}

.hero p {
  max-width: 54ch;
}
@media (max-width: 80em) {
  .hero-area {
    font-size: 3.4rem !important;
  }
  .hero-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto; /* Allow the image to scale proportionally based on the specified max-width */
    height: auto;
  }
  .bg-text {
    display: none;
  }
  .hero-text {
    margin-top: 0;
  }
  .custom-hr {
    width: 28vw;
  }
}
@media (max-width: 52em) {
  .custom-hr {
    width: 4em;
  }
}

@media (max-width: 47em) {
  .hero {
    margin-bottom: 2rem;
  }
  .hero-text {
    text-align: center;
    margin-top: 2rem;
  }
  .social-icons {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    margin-left: auto; /* Optional: Align to the right */
    margin-right: auto; /* Optional: Align to the left */
  }
  .image-area {
    grid-area: image;
  }
  .hero-area {
    grid-area: title;
  }
  .paragraph-area {
    grid-area: paragraph;
  }
  .hero-wrapper {
    grid-template-areas: "image" "title" "paragraph";
  }
  .hero {
    grid-auto-flow: row; /* Stack grid items vertically */
    grid-template-columns: 1fr; /* Set a single column layout */
  }
  .hero-image img {
    max-width: 85%;
    max-height: 100%;
    width: auto; /* Allow the image to scale proportionally based on the specified max-width */
    height: auto;
    margin-top: 0rem;
  }

  .hero-area {
    font-size: 2rem !important;
  }
  .hero p {
    max-width: 80ch;
  }
  .custom-hr {
    width: 0em;
  }
}
@media (max-width: 20em) {
  .custom-hr {
    width: 0;
  }
}
/* skills */
.tech-stack {
  background-color: var(--clr-neutral-200);
  padding: 5rem;
}
.tools-area {
  align-self: center;
}
.tools-column {
  display: grid;
  gap: 8rem;
  margin-top: 5rem;
}
@media (min-width: 47em) {
  .tools-column {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  padding-right: 10rem;
}
.tech-item {
  display: grid;
  align-items: center;
  justify-content: center;

  flex-basis: calc(25% - 1rem); /* Calculate 25% width with a gap of 1rem */
  max-width: calc(25% - 1rem); /* Same as flex-basis for better compatibility */
}
.tech-item img {
  width: 4rem;
  height: 4rem;
  transition: all 0.5s ease-in-out;
}

.tech-item img:hover {
  transform: scale(1.2);
}
.tech-item p {
  margin-top: 1.5rem;
  text-align: center;
}
.tech-item p:hover {
  color: var(--clr-accent-300);
  cursor: default;
}
.tools-title {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}
.framework-title {
  transition: all 0.5s ease-in-out;
}
.tools-image {
  transition: all 0.5s ease-in-out;
}
@media (max-width: 80em) {
  .framework-title {
    font-size: 3rem !important;
  }
  .tools-image {
    align-self: center;
  }
  .tech-container {
    padding: 0;
  }
  .tools-column {
    gap: 1rem;
  }
  .tech-item img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .tech-stack {
    padding: 5rem 1rem 5rem 1rem;
  }
}
@media (max-width: 47em) {
  .framework-title {
    font-size: 2rem !important;
  }
}
@media (max-width: 26em) {
  .tech-item {
    flex-basis: calc(33.33% - 1rem); /* Calculate one-third width with a gap of 1rem */
    max-width: calc(33.33% - 1rem); /* Same as flex-basis for better compatibility */
  }
}
/* projects */
.project-column {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 6rem;
  transition: all 0.5s ease-in-out;
}
.project-image {
  height: 25rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  transition: all 0.5s ease-in-out;
}

.project-details-container {
  background-color: var(--clr-neutral-200);
  padding: 2rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}
.project-name {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.tags-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  cursor: default;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tags {
  background-color: var(--clr-accent-500);
  padding: 0.1rem 1rem 0.1rem 1rem;
  border-radius: 1rem;
  color: var(--clr-neutral-100);
  transition: 0.3s ease-in-out;
}

.tags:hover {
  transform: scale(1.05);
}
.btn-group-project {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;

  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
.project-button-1 {
  border: 0;
  text-decoration: none;
  border-radius: 100vmax 0vmax 0vmax 100vmax;
  padding: 0.9em 1.5em;
  line-height: 1;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  border-right: 1px solid var(--clr-accent-100);
  transition: 0.2s ease-in-out;
}

.project-button-1:hover,
.project-button-1:focus-visible {
  background-color: var(--clr-accent-300);
}
.project-button-2 {
  border: 0;
  text-decoration: none;
  border-radius: 0vmax 100vmax 100vmax 0vmax;
  padding: 0.9em 1.5em;
  line-height: 1;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  transition: 0.2s ease-in-out;
}

.project-button-2:hover,
.project-button-2:focus-visible {
  background-color: var(--clr-accent-300);
}

@media (max-width: 80em) {
  .project-image img {
    object-fit: cover;
  }

  .tags-container {
    gap: 0.5rem;
  }
}
@media (max-width: 70em) {
  .project-column {
    grid-template-columns: repeat(1, 1fr);
    padding: 0rem 11rem 0rem 11rem;
  }
}
@media (max-width: 60em) {
  .project-column {
    padding: 0rem 6rem 0rem 6rem;
  }
}
@media (max-width: 47em) {
  .project-column {
    padding: 0;
  }
  .project-image {
    height: 100%;
  }
  .project-title {
    font-size: 3.5rem !important;
  }
}

/* about me */

.about-section {
  margin-top: 5rem;
  background-color: var(--clr-neutral-200);
  padding: 10rem;
}
.about-me-wrapper {
  height: 150%;
}
.about-me-text {
  max-width: 52ch;
  line-height: 1.5rem;
  margin-bottom: var(--size-400);
}
.about-me-area {
  align-self: center;
  justify-self: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 0.5rem;
  height: 40rem;
}

.grid-item {
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: hue-rotate(180deg) sepia(65%) contrast(100%) saturate(400%) hue-rotate(180deg);
}
.grid-item:hover {
  filter: none;
}
.large-1 {
  grid-column: span 2;
  grid-row: span 2;
}

.large-2 {
  grid-column: span 1;
  grid-row: span 4;
}
.small-1 {
  grid-column: span 1;
  grid-row: span 2;
}
.small-2 {
  grid-column: span 1;
  grid-row: span 2;
}
/* Adjustments for responsiveness */
@media (max-width: 72em) {
  .about-me-area {
    padding: var(--size-500);
  }
  .about-section {
    padding: 6rem 2rem;
  }
  .about-image-area {
    align-self: center;
  }
}

@media (max-width: 47em) {
  .about-section {
    padding: 6rem 0rem;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-me-area {
    align-self: start;
    justify-self: start;
    padding: var(--size-500);
  }
  .about-me-text {
    max-width: 82ch;
    line-height: 1.5rem;
    margin-bottom: var(--size-400);
  }
}

/* Footer */
.footer-wrapper {
  padding: var(--size-800) 0;
}

.footer-text-area {
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
}
.secondary-nav-area {
  line-height: 1.7rem;
  text-align: right;
  letter-spacing: 0.2rem;
  padding: 0 var(--size-600);
  transition: 0.5s;
}
.secondary-nav-area a {
  text-decoration: none;
  color: var(--clr-accent-100);
}
.secondary-nav-area a:hover {
  color: var(--clr-accent-300);
}
/* .contacts-area {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.contacts-area a {
  text-decoration: none;
  color: var(--clr-primary-400);
}

.contacts-area a:hover,
.contacts-area a:focus-within {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

.contacts-card {
  width: 18rem;
  height: 100%;
  padding: var(--size-400);
  display: grid;
  align-items: center;
  border-radius: 8px;
  background-color: var(--clr-accent-100);
  color: var(--clr-primary-400);

  cursor: pointer;
}
.contacts-label {
  margin: 0 1.25rem 0 1.25rem;
}

.contacts-card:hover .mail-area a,
.contacts-card:hover,
.contacts-card:focus-visible {
  background-color: var(--clr-accent-300);
  color: var(--clr-neutral-100);
}

.contacts-card a:hover,
.contacts-card a:focus-visible {
  color: var(--clr-neutral-100);
} */
.footer-custom-hr {
  width: 100%;
  height: 0.1em;
  background-color: var(--clr-neutral-100);
}
@media (max-width: 56rem) {
  .secondary-nav-area {
    text-align: center;
    padding: 0;
  }
}
@media (max-width: 47em) {
  .contactss-area {
    padding: 0;
  }
  /* .contacts-card {
    max-width: 100%;
    width: 15rem;

    height: 100%;
  }
  .contacts-label {
    margin: 0;
  }
  .contacts-label {
    margin: 0;
  }
  .contacts-area {
    padding: 0;
  } */

  .secondary-nav-area {
    text-align: center;
  }
  .footer-text-area {
    text-align: center;
  }
}

/* utility classes */

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.text-accent-100 {
  color: var(--clr-accent-100);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-200 {
  color: var(--clr-neutral-200);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-accent-400 {
  background-color: var(--clr-accent-400);
}

.bg-accent-100 {
  background-color: var(--clr-accent-100);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}
.fw-black {
  font-weight: var(--fw-black);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
  line-height: 1.1;
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.margin-bottom-700 {
  margin-block-end: var(--size-700);
}
.margin-bottom-300 {
  margin-block-end: var(--size-300);
}
.margin-top-900 {
  margin-block-start: var(--size-900);
}

.mx-auto {
  margin-inline: auto;
}

.display-sm-none {
  display: none;
}

@media (min-width: 47em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}

.container {
  --max-width: 1410px;
  --container-padding: 1rem;
  width: min(var(--max-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 47em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.vertical-align-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

@media (min-width: 47em) {
  .justify-self-end-md {
    justify-self: end;
  }
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 2em);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.text-center p {
  margin-inline: auto;
}

@media (max-width: 47em) {
  .text-center-sm-only {
    text-align: center;
  }

  .text-center-sm-only p {
    margin-inline: auto;
  }
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  display: flex;
  pointer-events: none; /* Disable pointer events on the overlay */
}

.bar {
  width: 100vw;
  height: 100vh;
  background: var(--clr-primary-400);
  pointer-events: none; /* Disable pointer events on the bars */
}

#preloader {
  background: #1a1a1a url("../images/loader.gif") no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  overflow: hidden !important;
  transition: opacity 0.5s ease;
  opacity: 1;
  pointer-events: none; /* Disable pointer events on the preloader */
}

#preloader.hidden {
  opacity: 0;
  pointer-events: none; /* Disable pointer events when hidden */
}

.contact-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--clr-accent-400);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;

  transition: 0.2s ease-in-out;
}
.contact-button:hover {
  background-color: var(--clr-accent-300);
}
.back-to-top {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--clr-accent-400);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  z-index: 100;
  text-decoration: none;
  scroll-behavior: smooth;
}
.back-to-top i {
  color: white;
  font-size: 1.7rem;
  transition: 0.2s ease-in-out;
}
.back-to-top:hover {
  background-color: var(--clr-accent-300);
}
.back-to-top i:hover {
  transform: translateY(-4px);
}
.hidden {
  display: none;
}
.no-scroll {
  overflow: hidden !important;
}
